<div class="jumbotron text-center">
    <h1>NextD</h1>
    <p style="line-height:120%">4th Party Logistics and Storable Distribution</p>

      <%= simple_form_for @subscriber, html: {onsubmit: "return validateEmail()"} do |f| %>
        <div class="input-group" style="max-width:396px; margin:0 auto">
          <%= f.input :email, placeholder: "Email", label: false,
          :input_html => {class: "form-control", size: 50, id: "inputEmail", style: "max-width:300px"},
          :wrapper_html => {style: "max-width:300px"} %>
          <span class="input-group-btn">
            <%= f.button :submit, "Subscribe", class: "btn btn-danger" %>
          </span>
        </div>
      <% end %>

</div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid" style="padding: 60px 50px !important">
    <div class="row">
      <div class="col-sm-8">
        <h2>What is it and how it works?</h2><br>
        <h4>Send, collect and return your parcels early til late, 7 days
          a week. Our pick-up points can be found in the most convinient
          locations such as local groceries, cafés or even barbershops.
          </h4><br>
        <p>With hundreds of pick-up points across the country, NextD
          network can be found at almost every neighbourhood. Your
          customers just walk in to a local pick-up point any time
          to collect a shipment. No more wasted time waiting for couriers,
          just drop-off your parcel at the closest point and we will deliver
          it to your customer's area.</p>
        <br><a class="btn btn-default btn-lg landing" href="#contact">Get in Touch</a>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-bookmark logo"></span>
      </div>
    </div>
  </div>

  <div id="googleMap" style="height:400px;width:100%;"></div>

  <div class="container-fluid bg-grey"  style="padding: 60px 50px !important">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8">
        <h2>Search for pick-up points</h2><br>
        <h4><strong>MISSION:</strong> Our mission: </h4><br>
        <p><strong>VISION:</strong> Our vision: </p>
      </div>
    </div>
  </div>

  <!-- Container (Services Section) -->
  <div id="services" class="container-fluid text-center" style="padding: 60px 50px !important">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-home logo-small"></span>
        <h4>CONVINIENCE</h4>
        <p>No need to worry about delivery time. Parcels will be delivered at the closest pick-up store.</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-road logo-small"></span>
        <h4>DELIVERY</h4>
        <p>NextD gives you alternatives to get your parcel</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-lock logo-small"></span>
        <h4>STORAGE</h4>
        <p>Your parcel will be stored in the right place</p>
      </div>
    </div>
    <br><br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-ok logo-small"></span>
        <h4>INSURANCE</h4>
        <p>Insure your parcel with our service</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-flash logo-small"></span>
        <h4>SPEED</h4>
        <p>Speed is not issue anymore, pick-up point keeps your parcel to the closest place</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-map-marker logo-small"></span>
        <h4 style="color:#303030;">TRACKING</h4>
        <p>Track your parcel with our system </p>
      </div>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div id="portfolio" class="container-fluid text-center bg-grey" style="padding: 60px 50px !important">
    <h2>Stores</h2><br>
    <h4>Our pick-up points</h4>
    <div class="row text-center slideanim">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("dostykplaza.png", size: "400x300", alt: "Dostyk Plaza",
          onmouseover: "colorfull(this)", onmouseout: "colorless(this)",
          style: "-webkit-filter: grayscale(100%); filter: grayscale(100%);") %>
          <p><strong>Dostyk Plaza</strong></p>
          <p>Our location at the most popular shopping mall</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("magnum.png", size: "400x300", alt: "Magnum",
          onmouseover: "colorfull(this)", onmouseout: "colorless(this)",
          style: "-webkit-filter: grayscale(100%); filter: grayscale(100%);") %>
          <p><strong>Magnum</strong></p>
          <p>Pick-up your parcel while at your favourite grocery</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("supermarket.png", size: "400x300", alt: "Supermarket",
          onmouseover: "colorfull(this)", onmouseout: "colorless(this)",
          style: "-webkit-filter: grayscale(100%); filter: grayscale(100%);") %>
          <p><strong>Super Market</strong></p>
          <p>We are at your neighourhood</p>
        </div>
      </div>
    </div><br>

    <h2>What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h4>"With NextD I can promise my customers that shipments will be delivered on next day. Super convinient!"<br><span style="font-style:normal;">Zhanseri Alimkozhayev, CEO, 4kinder.kz</span></h4>
        </div>
        <div class="item">
          <h4>"I run a small online shop and with NextD I do not need to care about logistics anymore. Thank you!"<br><span style="font-style:normal;">Irina Ivanova, Owner, Organic Cosmetics</span></h4>
        </div>
        <div class="item">
          <h4>"Our customers are happy with this service! It is fast and affordable!"<br><span style="font-style:normal;">Zhibek, Sales Manager, Kazakhstan Apparel</span></h4>
        </div>
      </div>

    </div>
  </div>

  <!-- Container (Pricing Section) -->
  <div id="pricing" class="container-fluid" style="padding: 60px 50px !important">
    <div class="text-center">
      <h2>Pricing</h2>
      <h4>Choose a payment plan that works for you</h4>
    </div>
    <div class="row slideanim">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Local city</h1>
          </div>
          <div class="panel-body">
            <p><strong>Next Day</strong> Delivery</p>
            <p><strong>48 hours</strong> Storage</p>

          </div>
          <div class="panel-footer">
            <h3>350 KZT</h3>
            <h4>per order</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Nation wide</h1>
          </div>
          <div class="panel-body">
            <p><strong>3-5 days</strong> Delivery</p>
            <p><strong>48 hours</strong> Storage</p>

          </div>
          <div class="panel-footer">
            <h3>1500 KZT</h3>
            <h4>per order</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Premium</h1>
          </div>
          <div class="panel-body">
            <p><strong>First Priority</strong> Delivery</p>
            <p><strong>Flexible</strong> Storage</p>

          </div>
          <div class="panel-footer">
            <h3>Best fare for your volume</h3>

            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey" style="padding: 60px 50px !important">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within several hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Almaty, Kazakhstan</p>
        <p><span class="glyphicon glyphicon-phone"></span> +7 701 2222 737</p>
        <p><span class="glyphicon glyphicon-envelope"></span> info@nextD.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Image effects -->
  <script>
    function validateEmail() {
      var x = document.getElementById("inputEmail").value;
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (re.test(x)) {
        return true;
      } else {
        alert("Please provide valida email address.");
        return false;
      }
    }

    function colorless(x) {
      x.style.filter = "grayscale(100%)";
      x.style.WebkitFilter = "grayscale(100%)";
    }
    function colorfull(x) {
      x.style.filter = "none";
      x.style.WebkitFilter = "none";
    }
  </script>
  <!-- Add Google Maps -->
  <script>
  function initialize() {
    var myCenter = new google.maps.LatLng(43.239079, 76.898538);
    var mapProp = {
      center:myCenter,
      zoom:12,
      scrollwheel:false,
      draggable:false,
      mapTypeId:google.maps.MapTypeId.ROADMAP,
      styles:
      [
          {
              "featureType": "all",
              "elementType": "labels.text.fill",
              "stylers": [
                  {
                      "saturation": 36
                  },
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 40
                  }
              ]
          },
          {
              "featureType": "all",
              "elementType": "labels.text.stroke",
              "stylers": [
                  {
                      "visibility": "on"
                  },
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 16
                  }
              ]
          },
          {
              "featureType": "all",
              "elementType": "labels.icon",
              "stylers": [
                  {
                      "visibility": "off"
                  }
              ]
          },
          {
              "featureType": "administrative",
              "elementType": "geometry.fill",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 20
                  }
              ]
          },
          {
              "featureType": "administrative",
              "elementType": "geometry.stroke",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 17
                  },
                  {
                      "weight": 1.2
                  }
              ]
          },
          {
              "featureType": "landscape",
              "elementType": "geometry",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 20
                  }
              ]
          },
          {
              "featureType": "poi",
              "elementType": "geometry",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 21
                  }
              ]
          },
          {
              "featureType": "road.highway",
              "elementType": "geometry.fill",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 17
                  }
              ]
          },
          {
              "featureType": "road.highway",
              "elementType": "geometry.stroke",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 29
                  },
                  {
                      "weight": 0.2
                  }
              ]
          },
          {
              "featureType": "road.arterial",
              "elementType": "geometry",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 18
                  }
              ]
          },
          {
              "featureType": "road.local",
              "elementType": "geometry",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 16
                  }
              ]
          },
          {
              "featureType": "transit",
              "elementType": "geometry",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 19
                  }
              ]
          },
          {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                  {
                      "color": "#000000"
                  },
                  {
                      "lightness": 17
                  }
              ]
          }
      ]
      };

    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var storeLocations = [
      ["Dostyk Plaza", 43.233539, 76.957034],
      ["Mega Center", 43.202411, 76.892582],
      ["Royal Petrol", 43.227796, 76.960678],
      ["Super Market", 43.248880, 76.943008],
      ["Magnum", 43.217882, 76.842853],
      ["Bekker", 43.234105, 76.889586],
      ["Promenade", 43.240487, 76.924873]
    ];

    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    var markers = [];
    for (i = 0; i < storeLocations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(storeLocations[i][1], storeLocations[i][2]),
        map: map
      });
      markers.push(marker);
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(storeLocations[i][0]);
          infowindow.open(map, marker);
          map.setZoom(13);
        }
      })(marker, i));
    }

  }

  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANxM5eQLC7TDHanN0z6GRut4CbTRmyMj0&callback=initialize">
  </script>
