<%= simple_form_for (@order) do |f| %>
    <%= f.error_notification %>
    <div class="row" style="padding-bottom:40px" id="step1">

      <div class="panel col-sm-3 text-left" style="padding:13px">

          <h4>Drop-off store:</h4>


          <%= f.input :from, label: false,
              :collection => Pickup.all.map {|pickup| ["#{pickup.company}", pickup.id]},
              as: :radio_buttons, input_html: { class: 'selectDropOff' },
              wrapper_html: { id: 'selectDropOffDiv' } %>

      </div>
      <div class="col-sm-6">
        <div id="map1" style='width:100%; height: 328px; margin:0'></div>
      </div>

    <!-- <div class="row" style="padding-bottom:40px" id="step2"> -->

      <div class="panel col-sm-3 text-left" style="padding:13px">

          <h4>Pick-up store:</h4>

        <%= f.input :pickup_id, label: false,
            :collection => Pickup.all.map {|pickup| ["#{pickup.company}", pickup.id]},
            as: :radio_buttons, input_html: { class: 'selectPickUp' },
            wrapper_html: { id: 'selectPickUpDiv' } %>
      </div>
      <!--
      <div class="well-sm col-sm-9">
        <div id="map2" style='width:100%; height: 290px'></div>
      </div>
    </div> -->
    </div>
    <div class="row" style="padding-bottom:40px" id="step2">
        <h4>Enter customer's details:</h4>
        <%= f.input :buyer_name, placeholder: "Name", label: false,
        :input_html => {style: "width:250px;margin:auto", id: "buyer_name"} %>
        <div class="input-group" style="width:250px;margin:auto">
          <span class="input-group-addon" id="basic-addon1">+7</span>
          <%= f.input :buyer_phone, placeholder: "Phone", label: false,
              :input_html => { id: "buyer_phone",
              class: "form-control", aria: {describedby: "basic-addon1"}} %>
        </div><p>
        <%= f.input :buyer_email, as: :email, placeholder: "Email", label: false,
        :input_html => {style: "width:250px;margin:auto", id: "buyer_email"} %>
    </div>

    <div class="row" style="padding-bottom:40px" id="step3">
        <%= f.input :delivery_option, as: :radio_buttons,
            :collection => ['Standard', 'Premium'], input_html: { class: 'selectDeliveryOption' },
            wrapper_html: { id: 'selectDeliveryOptionDiv' } %>

        <%= f.input :transport_provider, as: :radio_buttons,
            :collection => ['General Logistics', 'I will deliver by myself'],
            input_html: { class: 'selectTrasnportProvider' },
            wrapper_html: { id: 'selectTrasnportProviderDiv' } %>


        <%= f.input :parcel_weight, placeholder: "Weight in kilograms (max 10)", label: 'Parcel details:',
        :input_html => {style: "width:250px;margin:auto", id: "weight", type: "number"} %>

        <%= f.input :parcel_content, placeholder: "Content", label: false,
        :input_html => {style: "width:250px;margin:auto", id: "content"} %>
    </div>

    <div class="row" style="padding-bottom:40px" id="step4">
      <h4>You are almost there!</h4>
      <h6>This order will cost you:</h6>
      <h4 id="price"></h4>
    </div>

    <%= f.button :submit, class: "btn btn-primary", id: "createButton" %>
    
    <%= f.button :submit, "Submit order", class: "btn btn-primary", id: "createButton" %>
<% end %>
