
<%= simple_form_for(Order.new) do |f| %>
    <%= f.error_notification %>
    <div class="row" style="padding-bottom:40px" id="step1">

        <%= f.input :from, label: 'Choose your drop-off store:',
            :collection => Pickup.all.map {|pickup| ["#{pickup.company} email: #{pickup.email}", pickup.id]},
            selected: Pickup.first.company %>
    </div>
    <div class="row" style="padding-bottom:40px" id="step2">
        <%= f.input :store_id, label: 'Choose pick-up store:',
            :collection => Pickup.all.map {|pickup| ["#{pickup.company} email: #{pickup.email}", pickup.id]},
            selected: Pickup.first.company %>
    </div>

    <div class="row" style="padding-bottom:40px" id="step3">

        <%= f.input :buyer_name, placeholder: "Name", label: "Enter customer's details:" %>

        <%= f.input :buyer_phone, placeholder: "Phone", label: false %>

        <%= f.input :buyer_email, as: :email, placeholder: "Email", label: false %>
    </div>

    <div class="row" style="padding-bottom:40px" id="step4">
        <%= f.input :delivery_option, as: :radio_buttons,
            :collection => ['Standard', 'Premium'] %>

        <%= f.input :transport_provider, as: :radio_buttons,
            :collection => ['General Logistics', 'I will deliver by myself'] %>

        <%= f.input :parcel_weight, placeholder: "Weight", label: "Parcel details:" %>

        <%= f.input :parcel_content, placeholder: "Content", label: false %>
    </div>

    <div class="row" style="padding-bottom:40px" id="step5">
      <h4>You are almost there!</h4>
    </div>

    <%= f.button :submit, class: "btn btn-primary", id: "createButton" %>
<% end %>
