<div class="mainDiv">
  <div class="container text-center well" style="padding-top:40px">
    <div class="container-fluid" style="max-width:240px">
      <div class="list-group text-center">
        <h3 class="list-group-item">Log in as a seller</h3>
        <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
          <%= f.input :email, input_html: { class: "list-group-item", style: "margin-top:15px" }, :label => false, :placeholder => "Email" %>

          <%= f.input :password, input_html: { class: "list-group-item", style: "line-height:100%" }, :label => false, :placeholder => "Password" %>

          <% if devise_mapping.rememberable? -%>
              <%= f.input :remember_me, as: :boolean, input_html: { class: "list-group-item" } %>
          <% end %>

            <%= f.button :submit, "Log in", :class => "list-group-item btn-block active" %>

        <% end %>

        <%= render "sellers/shared/links" %>
      </div>
    </div>
  </div>
</div>
