<div class="container text-center panel" style="padding-top:40px; margin-top:20px">
  <div class="container-fluid" style="max-width:240px">
    <div class="list-group text-center">
      <h3 class="text-primary list-group-item">Register as a seller</h3>
      <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
        <%= devise_error_messages! %>
        <%= f.input :email, autofocus: true, label: false, placeholder: "Email", input_html: { class: "list-group-item", style: "margin-top:15px" } %><p>
        <%= f.input :password, autocomplete: "off", label: false, placeholder: "Password", input_html: { class: "list-group-item" }, wrapper_html: { style: "margin-bottom:0" } %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.input :password_confirmation, autocomplete: "off", label: false, placeholder: "Confirm password", input_html: { class: "list-group-item" } %>
        <%= f.button :submit, "Sign up", :class => "list-group-item btn-block active" %>
      <% end %>

      <%= render "pickups/shared/links" %>
    </div>
  </div>
</div>
