<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav text-left">
      <div class="panel-group" id="accordion">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Account info</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Welcome <a href=""><%= current_seller.seller_rep_name %></a></p>
              <p>Company name: <a href=""><%= current_seller.seller_name %></a></p>
            </div>
          </div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Balance</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">----</div>
          </div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Processed orders</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body"><p>Last 7 days:<p>Last 30 days:<p>Average delivery time:</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 text-center inline">
      <ul class="nav nav-pills nav-justified" style="padding:20px">
        <li><%= link_to "Active Orders", account_seller_path %></li>
        <li class="active"><%= link_to "New Order", account_create_path %></li>
        <li><%= link_to "History", account_history_path %></li>
      </ul>

      <h6>Please, fill in all fields</h6><br />
      <div class="col-sm-8" id="progress">
        <div class="progress">
          <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:5%" id="progressBar">
              5%
          </div>
        </div>
      </div>
      <div class="col-sm-8 well" id="form">
        <%= render :partial => '/orders/form' %>
        <button id="back" class="btn btn-default" onclick="prevStep()">Back</button>
        <button id="next" class="btn btn-warning" onclick="nextStep()">Next</button>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Notifications:</p>
      </div>
      <div class="well">
        <p>News:</p>
      </div>
    </div>
  </div>
</div>
<script>
  var step=1;
  function nextStep () {
    step+=1;
    if (step==2) {
      document.getElementById("progressBar").style.width="25%";
      document.getElementById("progressBar").innerText="25%";
      document.getElementById("step1").style.display="none";
      document.getElementById("step2").style.display="block";
    } else if (step==3) {
      document.getElementById("progressBar").style.width="50%";
      document.getElementById("progressBar").innerText="50%";
      document.getElementById("step2").style.display="none";
      document.getElementById("step3").style.display="block";
    } else if (step==4) {
      document.getElementById("progressBar").style.width="75%";
      document.getElementById("progressBar").innerText="75%";
      document.getElementById("step3").style.display="none";
      document.getElementById("step4").style.display="block";
    } else if (step==5) {
      document.getElementById("progressBar").style.width="99%";
      document.getElementById("progressBar").innerText="Final Step!";
      document.getElementById("step4").style.display="none";
      document.getElementById("step5").style.display="block";
      document.getElementById("createButton").style.display="inline";
      document.getElementById("next").style.display="none";
    }
  }
  function prevStep () {
    if (step==2) {
      document.getElementById("progressBar").style.width="5%";
      document.getElementById("progressBar").innerText="5%";
      document.getElementById("step1").style.display="block";
      document.getElementById("step2").style.display="none";
      step-=1;
    } else if (step==3) {
      document.getElementById("progressBar").style.width="25%";
      document.getElementById("progressBar").innerText="25%";
      document.getElementById("step2").style.display="block";
      document.getElementById("step3").style.display="none";
      step-=1;
    } else if (step==4) {
      document.getElementById("progressBar").style.width="50%";
      document.getElementById("progressBar").innerText="50%";
      document.getElementById("step3").style.display="block";
      document.getElementById("step4").style.display="none";
      step-=1;
    } else if (step==5) {
      document.getElementById("progressBar").style.width="75%";
      document.getElementById("progressBar").innerText="75%";
      document.getElementById("step4").style.display="block";
      document.getElementById("step5").style.display="none";
      document.getElementById("createButton").style.display="none";
      document.getElementById("next").style.display="inline";
      step-=1;
    }
  }
  /*
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map1'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": 43.233539,
          "lng": 76.957034,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "Dostyk Plaza"
        },
        {
          "lat": 43.202411,
          "lng": 76.892582,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "Mega Center"
        },
        {
          "lat": 43.227796,
          "lng": 76.960678,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "Royal Petrol"
        },
        {
          "lat": 43.248880,
          "lng": 76.943008,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "Super Market"
        },
        {
          "lat": 43.217882,
          "lng": 76.842853,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "Magnum"
        },
        {
          "lat": 43.234105,
          "lng": 76.889586,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "Bekker"
        },
        {
          "lat": 43.240487,
          "lng": 76.924873,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "Promenade"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  */

  var map1, map2;
  function initMap() {
    var almaty = {lat: 43.2220, lng: 76.8512};
    var storeLocations = [
      ["Dostyk Plaza", 43.233539, 76.957034],
      ["Mega Center", 43.202411, 76.892582],
      ["Royal Petrol", 43.227796, 76.960678],
      ["Super Market", 43.248880, 76.943008],
      ["Magnum", 43.217882, 76.842853],
      ["Bekker", 43.234105, 76.889586],
      ["Promenade", 43.240487, 76.924873]
    ];
    var mapOptions = {
      center: almaty,
      zoom: 11,
      disableDefaultUI: true,
    }
    map1 = new google.maps.Map(document.getElementById('map1'), mapOptions);
    map2 = new google.maps.Map(document.getElementById('map2'), mapOptions);
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    var markers = [];
    for (i = 0; i < storeLocations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(storeLocations[i][1], storeLocations[i][2]),
        map: map1
      });
      markers.push(marker);
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(storeLocations[i][0]);
          infowindow.open(map1, marker);
          map1.setZoom(13);
        }
      })(marker, i));
    }
    dropOff = document.getElementById('selectDropOffDiv');
    dropOff.onclick = function () {
      var selects = document.getElementsByClassName('selectDropOff');
      var i, index;
      for (i = 0; i < selects.length; i++) {
          if (selects[i].checked) {
              index = i;
          }
      }
      infowindow.setContent(storeLocations[index][0]);
      infowindow.open(map1, markers[index]);
      map1.setZoom(13);
      map1.setCenter(new google.maps.LatLng(storeLocations[index][1], storeLocations[index][2]));
    };
  }
</script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGrEiG-wyu70OQ9Cr6aZRjCMHAfgfxCso&callback=initMap">
</script>
